{{/* Standalone map page using shared MapLibre embed. */}}
{{- $cdn := .Site.Params.cdnUrl -}}
{{- $mapStyleUrl := .Site.Params.mapStyleUrl -}}
<!DOCTYPE html>
<html lang="en" data-bs-theme="light" data-base-url="{{ "/" | relURL }}" data-map-style-url="{{ $mapStyleUrl }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light dark">
  <title>Map | {{ .Site.Title }}</title>
  <base target="_top">
  <link rel="stylesheet" href="{{ $cdn }}/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ $cdn }}/maplibre-gl@5.21.1/dist/maplibre-gl.css" integrity="sha384-MGCxhspF/+ufueUgol3FDkiAYQbpSNRhBT0VWHJt64U8qIy9qlnXWx8LAbj6niPH" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ "styles.css" | relURL }}">
</head>
<body class="standalone-map-page">
  {{ partial "map-embed.html" (dict "page" . "id" "standalone-map" "classes" "map-embed map-embed--standalone") }}
  <script>window.TAXONOMIES = {{ .Site.Params.taxonomyOrder | jsonify | safeJS }};</script>
  <script src="{{ "filter-utils.js" | relURL }}"></script>
  <script src="{{ $cdn }}/maplibre-gl@5.21.1/dist/maplibre-gl.js" integrity="sha384-vbG0lp4a0ruKpgj9NCNl23DiFSS04ePeadthqzXUJxhJAOlOqZ69BjLeFXCFn0b8" crossorigin="anonymous"></script>
  <script src="{{ "map-embed.js" | relURL }}"></script>
</body>
</html>
