---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page Not Found - WA Defence Directory">
  <article style="text-align: center; padding: 4rem 0;">
    <h1>404</h1>
    <p>Page not found</p>
    <p><a href="/" role="button">Back to Directory</a></p>
  </article>
</Layout>
