<nav class="container-fluid" data-theme="dark">
  <ul>
    <li>
      <a href="https://www.wa.gov.au/organisation/department-of-the-premier-and-cabinet/defence-west">
        <img src="{{ "defence-west-logo.svg" | relURL }}" alt="Defence West" class="logo">
      </a>
    </li>
  </ul>
  <ul>
    <li>
      <details class="dropdown">
        <summary>Directory</summary>
        <ul dir="rtl">
          <li><a href="{{ "/" | relURL }}">All Companies</a></li>
          <li><a href="{{ "capability_streams/" | relURL }}">Capability Streams</a></li>
          <li><a href="{{ "ownerships/" | relURL }}">Ownership</a></li>
          <li><a href="{{ "stakeholders/" | relURL }}">Stakeholders</a></li>
          <li><a href="{{ "regions/" | relURL }}">Regions</a></li>
          <li><a href="{{ "capability_domains/" | relURL }}">Capability Domains</a></li>
          <li><a href="{{ "industrial_capabilities/" | relURL }}">Industrial Capabilities</a></li>
        </ul>
      </details>
    </li>
    <li><a href="{{ "contact/" | relURL }}" {{ if hasPrefix .RelPermalink "/contact" }}aria-current="page"{{ end }}>Contact</a></li>
    <li class="desktop-only">
      <a href="https://www.wa.gov.au/organisation/department-of-energy-and-economic-diversification">
        <img src="{{ "wa-gov-logo.png" | relURL }}" alt="Government of Western Australia" class="logo">
      </a>
    </li>
  </ul>
</nav>
